# Miscellaneous
build/
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Folder Firebase & Backend
# Mengabaikan file kunci rahasia agar aman!
**/serviceAccountKey.json
.env
.firebaserc
.firebase/

# Folder hasil build Flutter
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
.packages

# File konfigurasi lokal & IDE
.vscode/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugin-shared
.metadata

# Folder khusus platform (hanya jika Anda ingin build lokal tidak tersimpan)
# Catatan: Biasanya folder 'android/app/build' diabaikan secara otomatis
**/.gradle/
**/android/app/build/
**/android/build/
**/ios/Pods/
**/ios/.symlinks/

# File OS
.DS_Store
Thumbs.db
ehthumbs.db